@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* Reset ugly yellow autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  background-color: transparent !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
  transition: background-color 9999s ease-in-out 0s;
}


.glass {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.Toastify__toast {
  background: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color:gray;
  backdrop-filter: blur(12px) !important;
  border-radius: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display:flex;
   gap:7px;
   padding:0.1rem;
  align-items:center;
  justify-content:center;
}


.Toastify__toast--success {
  color:green;
}

.Toastify__toast--error {
  color:red;
}

.Toastify__progress-bar--success {
  background: green; /* light green */
}
.Toastify__progress-bar--error {
  background: red; /* light red */
}


